body {
  font-family: "Outfit", sans-serif;
  margin: 0 auto;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

.qr-container {
  display: flex;
  border: 1px solid black;
  border-radius: 25px;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin: 0 auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-top: 50px;
}

.instructions {
  font-weight: 400px;
  color: hsl(216, 15%, 48%);
  margin: 0 20px 20px 20px;
}

img {
  border-radius: 25px;
  margin: 20px;
  width: 80%;
  height: auto;
}

.item-2 {
  margin: 0 20px 10px 20px;
  font-weight: 700;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .qr-container {
    width: 80%;
  }
}
